<div class="text-white container d-flex flex-column align-items-center justify-content-center own-text-shadow" style="min-height:80vh;">
    <span class="rounded border border-2">
        <div class="text-center">
            <h1>{{home_heading}}</h1>
            <h4 class="mt-5 text-center mx-auto" style="width:70%;"><em>{{home_text}}</em></h4>
        </div>

        <div class="mt-5 mb-3 mx-auto text-center">
            <a routerLink="{{ home_btn_link }}">
                <button type="button" class="btn p-2 btn-outline-light own-btn">{{home_btn_text}}</button>
            </a>
        </div>
    </span>

</div>
