/* You can add global styles to this file, and also import other style files */
body {
    background: url('assets/img/beach_background_1920.jpg') no-repeat center center fixed !important;
    background-size: cover !important;
}

.footer {
    position: fixed;
}

#own-gradient-navbar {
    background: linear-gradient(skyblue, rgba(255, 255, 255, 0)) !important;
}

#own-gradient-footer {
    background: linear-gradient(rgba(255, 255, 255, 0), skyblue) !important;
}

.own-text-shadow {
    text-shadow: 2px 2px 4px black !important;
}

#own-logo-size {
    margin: 0 !important;
    padding: 0 !important;
    width: 40px !important; // so small that pixel measurement should be fine.
    height: auto !important;
}

small a {
    color: white !important;
    font-style: italic !important;
    text-decoration-line: none !important;
    &:hover {
        color: skyblue !important;
        text-decoration-line: underline !important;
    }
}
// Mimicking bootstrap tablet breakpoint
// @media screen and (min-width: 768px) {

// }