/* You can add global styles to this file, and also import other style files */
$btn-text-color: rgb(100, 140, 210);
$btn-shadow-color: rgba(40, 40, 200, 0.3);

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}


body {
    background: url('assets/img/beach_background_1920.jpg') !important;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


// no gradient for mobile, to "fix" footer issue
#own-gradient-navbar {
    background: skyblue !important;
}

#own-gradient-footer {
    background: skyblue !important;
}

.own-text-shadow {
    text-shadow: 1px 1px 6px darkblue !important;
}

#own-logo-size {
    width: 40px !important; // so small that pixel measurement should be fine.
    height: auto !important;
}

small a {
    color: white !important;
    font-style: italic !important;
    text-decoration-line: none !important;
    &:hover {
        color: skyblue !important;
        text-decoration-line: underline !important;
    }
}

.own-btn {
    text-shadow: 1px 1px 6px darkblue !important;
    &:hover {
        color: $btn-text-color;
        text-shadow: 0px 0px 0px !important;
        box-shadow: 1px 1px 5px $btn-shadow-color;
    }
}

.own-icon {
    font-size:40px;
    color:white;
    &:hover {
        color: $btn-text-color;
    }
}



// Mimicking bootstrap tablet breakpoint
@media screen and (min-width: 768px) {
    #own-gradient-navbar {
        background: linear-gradient(skyblue, rgba(255, 255, 255, 0)) !important;
    }
    
    #own-gradient-footer {
        background: linear-gradient(rgba(255, 255, 255, 0), skyblue) !important;
    }
}