<h1 class="text-center mt-3 mt-md-4 mb-4 mb-md-2 own-text-shadow">Cart</h1>
<!-- TODO IF CART EMPTY -->
<!-- <div class="cart-item" *ngFor="let travel of booked_travels">

    <span>{{ travel.name }}}} </span>
   
    <span>{{ travel.price | currency }}}}</span>
   
</div> -->

<ng-container ng-template *ngIf="booked_travels.length == 0; else elseBlock">
    <h3 class="text-center mb-4 mb-md-2 own-text-shadow">-Your Cart is currently empty.-</h3>  
</ng-container>
<ng-template #elseBlock>
    <div class="my-2 my-md-5 mx-auto table-responsive text-center bg-transparent container">
        <!-- Total Cart Table -->
        <table class="table text-white bg-transparent own-text-shadow table-borderless">
            <thead>
                <tr class="border-bottom">
                <th scope="col">#</th>
                <th scope="col">DESTINATION</th>
                <th scope="col">PRICE</th>
                <th scope="col">QUANTITY</th>
                </tr>
            </thead>
            <tbody>
                <tr class="border-bottom" *ngFor="let travel of booked_travels; index as travelId">
                    <th scope="row">{{travelId + 1}}</th>
                    <td>{{ travel.name }}</td>
                    <td>{{ travel.price | currency }}</td>
                    <td>{{ travel.quantity }}</td>
                </tr>
                <tr>
                    <th><strong>Total: </strong></th>
        
                    <!-- If the total sum is more than EUR 200, the user gets a 10% discount. If the total sum is more than EUR 500, they get a 20% discount. -->
                    <ng-container *ngIf="total_price < 200 ;else second">
                        <td></td>
                        <td><strong>{{total_price | currency }}</strong></td>
                    </ng-container>
                    <ng-template #second>
                        <ng-container *ngIf="total_price > 500;else third">
                            <td><strong>DISCOUNT 20%</strong></td>
                            <td><strong>{{total_price * 0.8 | currency }}</strong></td>
                        </ng-container>
                    </ng-template>
                        <ng-template #third>
                            <td><strong>DISCOUNT 10%</strong></td>
                            <td><strong>{{total_price *0.9 | currency }}</strong></td>
                        </ng-template>

                    <td><strong>{{total_quantity}}</strong></td>
                </tr>
            </tbody>
        </table> 
        
        <h3 class="text-center mt-3 mt-md-4 mb-1 mb-md-3 own-text-shadow">Add your contacts for ordering!</h3>
        <!-- Purchase Form -->
        <div class="row">
            <form [formGroup]="checkout_form" (ngSubmit)="OnSubmit()">
                <div class="row"> <!-- start row -->
                    <!-- Full Name -->
                    <div class="col-md-12">
                        <div class="mb-3 form-floating">
                            <input id="floatingNameGrid" class="form-control" type="text" formControlName="fullname" placeholder="Full Name" />
                            <label for="floatingNameGrid" class="text-dark">Full name</label>
                        </div>
                    </div>
                    
                    <!-- Address -->
                    <div class="col-md-12">
                        <div class="mb-3 form-floating">
                            <input id="floatingAddressGrid" class="form-control" type="text" formControlName="address" placeholder="Full Name" />
                            <label for="floatingAddressGrid" class="text-dark">Address</label>
                        </div>
                    </div>
                    
                    <!-- Email address-->
                    <div class="col-md-12">
                        <div class="mb-3 form-floating">
                            <input id="floatingMailGrid" class="form-control" type="email" formControlName="email" placeholder="Your Best E-Mail" />
                            <label for="floatingMailGrid" class="text-dark">E-Mail address</label>
                        </div>
                    </div>
    
                    <!-- Phone Number -->
                    <div class="col-md-12">
                        <div class="mb-3 form-floating">
                            <input id="floatingPhoneGrid" class="form-control input-medium bfh-phone" data-format="+(dd) ddd dddd" type="text" formControlName="phone" placeholder="Phone Number" />
                            <label for="floatingPhoneGrid" class="text-dark">Phone number (optional)</label>
                        </div>
                    </div>             
                    
                    <div class="d-flex justify-content-center mt-4 own-icon">
                        <button class="btn btn-outline-light own-btn" type="submit">Check out <br>
                            <i class="fa fa-handshake-o" style="font-size:2rem;"></i></button>
                    </div> 
                </div> <!-- end row -->
    
            </form>        
        </div>
   
    </div>
</ng-template>


